POSTGRES_USER=trash
POSTGRES_PASSWORD=change-this-postgres-password
POSTGRES_DB=trash
MINIO_ROOT_USER=trash-storage
MINIO_ROOT_PASSWORD=change-this-storage-password
S3_BUCKET=captures
SITE_ADDRESS=:80
HTTP_PORT=80
HTTPS_PORT=443
