{$SITE_ADDRESS} {
    encode zstd gzip
    root * /srv/public
    file_server
}

{$ADMIN_SITE_ADDRESS} {
    encode zstd gzip

    handle /api/* {
        reverse_proxy api:8000
    }

    handle /unlock {
        root * /srv/admin
        rewrite * /unlock.html
        file_server
    }

    handle {
        forward_auth api:8000 {
            uri /api/v1/admin/auth/check
        }
        root * /srv/app
        try_files {path} /index.html
        file_server
    }
}

{$API_SITE_ADDRESS} {
    handle /api/* {
        reverse_proxy api:8000
    }
}
